.transaction-card {
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    background-color: #383838;
    color: #fff;

}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.transaction-form input,
.transaction-form select {
    padding: 10px;
    border: 1px solid #dcdcdc;
    font-size: 16px;
}

.transaction-form button {
    padding: 10px;
    border: none;
    background: #121212;
    color: white;
    cursor: pointer;
}

.transaction-form button:hover {
    background: #4A4A4A;
}